{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "endOfLine": "lf",
  "tabWidth": 2,
  "quoteProps": "as-needed",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "jsxSingleQuote": true,
  "singleAttributePerLine": true,
  "printWidth": 120
}
