.signup-back {
  font-family: Arial, sans-serif;
  background-color: #d9d9d9;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  overflow: auto; 
  animation: fadeIn 1s ease-in-out;
}

.signup-container {
  background-color: #fff;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 450px;
  animation: appear 0.5s ease-in;
}

.signup-container h1{
  font-size: xx-large;
    text-align: center;
    color: #0C84AA;
    margin-bottom: 20px;
}

.formOutline {
  position: relative;
  margin-bottom: 1.5rem;
}

.formControl {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  transition: all 0.3s ease;
}

.formControl:focus {
  border-color: #0C84AA;
  box-shadow: 0 0 5px rgba(12, 132, 170, 0.5);
}

.formLabel {
  position: absolute;
  top: -0.75rem;
  left: 0.75rem;
  background: #fff;
  padding: 0 0.25rem;
  font-size: 0.85rem;
  color: #0C84AA;
}

.btn {
  display: inline-block;
  padding: 0.75rem 1.25rem;
  border-radius: 0.25rem;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btnPrimary {
  background-color: #0c84aa;
  color: #fff;
  border: none;
}

.btnPrimary:hover {
  background-color: #e6c651;
}

.btnBlock {
  display: block;
  width: 100%;
}

.mb4 {
  margin-bottom: 1.5rem;
}

.select-container {
  color: #0C84AA;
}

.input-group {
  display: flex;
  align-items: center;
}

.input-group .formControl {
  flex: 1;
}

#domains,#skills{
  margin: 3px;
}

#skills::placeholder{
  color: #0C84AA;
}

.delete-btn {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 0.5rem;
}

.add-more-btn {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.sgpa{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2px;
}

@media(max-width:415px){
  .sgpa{
    display: flex;
    flex-direction: column;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}